@font-face {
  font-family: 'sawarabigothic';
  src: url(//fonts.googleapis.com/earlyaccess/sawarabigothic.css);
}

@import '~bulma/sass/utilities/initial-variables';

// Add a serif family
$family-serif: 'sawarabigothic', '-apple-system', BlinkMacSystemFont,
  'Helvetica Neue', YuGothic, 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN', Arial, 'メイリオ', Meiryo, sans-serif;

$family-primary: $family-serif;

@import '~bulma/bulma';
