@import '~bulma/sass/utilities/initial-variables';

// Add a serif family
$family-serif: '-apple-system', BlinkMacSystemFont, 'Helvetica Neue', YuGothic,
  'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Arial, 'メイリオ', Meiryo,
  sans-serif, Avenir;

$family-primary: $family-serif;

$modal-content-width: 870px;

.content {
  h2,
  h3,
  h4 {
    position: relative;
    padding: 0.25em 0 0.5em 0.75em;
    border-left: 6px solid #13af3f;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 0;
    }
  }
  h2 {
    padding: 0.25em 0 0.5em 0.75em;
    border-left: 6px solid #13af3f;
    border-bottom: 1px solid #ccc;
  }
}

.content .tag,
.content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

@import '~bulma/bulma';